# Папки сборки
build/
CMakeFiles/
cmake-build-*/

# Файлы CMake
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# ClangFormat (на будущее)
.clang-format.cache
.clang-tidy

# Резервные копии и временные файлы
*~
*.swp
*.swo
.directory

# Системные файлы
.DS_Store
Thumbs.db

# Логи и отладочная информация
*.log
*.dSYM/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
